.container-div {
    @apply w-full flex flex-col;
}

/* .logo-header {
    width: 170px;
    height: 45px;
} */

.logo-header img {
    @apply 2xl:w-[170px] 2xl:h-[45px];
}

.banner-img-bg {
    @apply w-full 2xl:w-[1920] 2xl:h-[1080px] h-[770px] px-[140px];
    background-image: url('../Image/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
}



.navbar {
    @apply flex justify-between pt-[36px] items-center;
}

.menu-wrap {
    @apply flex justify-center items-center;
}

.menu-wrap ul {
    @apply flex items-center;
}

.menu-list-items {
    @apply flex px-[54px] text-[18px];
    height: 22px;
    text-align: left;
    font: normal;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'ProximaNovaRegular';
}

.slider-section {
    @apply flex w-full;
}

.left-part-slider {
    @apply flex w-[45%] flex-col mt-[122px];


}

.slider-buttons {
    @apply flex mt-8;
}

.gplay,
.appstore {
    @apply flex;
    width: 233px;
    height: 78px;
}

.appstore {
    @apply ml-8;
}

.heading-main {
    @apply text-white uppercase font-[800] 2xl:text-[124px] text-[84px];
    text-shadow: 0px 3px 6px #0000001A;
    font-family: 'ProximaNovaBold';
    letter-spacing: 2.48px;
    line-height: 1;
}

.para {
    @apply text-white pt-[25px] font-[600] pb-[61px] pr-8 text-[24px];
    font-family: 'ProximaNova';
    letter-spacing: 0.96px;
    line-height: 40px
}


.second-section {
    @apply flex w-full px-[90px] mt-[172px] mb-[141px];
}

.second-left-part {
    @apply flex w-1/2 2xl:w-[845px] 2xl:h-[634px];


}

.second-right-part {
    @apply flex w-[36%] flex-col ml-24 justify-center mr-8;

}

.second-right-part h1 {
    @apply text-[45px] 2xl:text-[71px] font-bold capitalize leading-[115%] text-black pr-8 font-['ProximaNovaBold'];
}

.second-right-part p {
    @apply text-[14px] 2xl:text-[20px] text-black font-medium pt-[33px] pb-[77px] font-['ProximaNovaMedium'];
}

.second-right-part button {
    @apply bg-[#FF852A] text-white rounded-[12px] px-4 w-fit text-[18px] font-['ProximaNovaRegular'] items-center flex justify-center;
    width: 298px;
    height: 61px;
}

.how-work-wrap {
    @apply flex bg-no-repeat bg-contain my-12 justify-center items-center 2xl:w-[1137px] 2xl:h-[911px];
    background-image: url('../Image//work-pg.png');
    /* width: 1000px; */
    /* height: 580px; */

}

.how-work-content {
    /* width: 900px; */
    @apply flex flex-col justify-center;
}

.iphone {
    @apply flex 2xl:w-[429px] 2xl:h-[845px];
    /* height: 550px;
    width: 400px; */
    
}

.content-heading {
    @apply flex text-white font-bold capitalize text-[50px] 2xl:text-[71px] font-['ProximaNovaBold'] px-4;
}

.content-para {
    @apply flex font-normal text-[14px] 2xl:text-[20px] font-['ProximaNovaRegular'] py-4 my-2 rounded-[22px] pl-6 w-[474pxs];
    letter-spacing: 0.8px;

}

.animation-third {
    @apply flex flex-col justify-center items-center absolute right-[325px]  -mt-8 ;
}

.circle {
    @apply w-[31px] h-[31px] border border-dashed rounded-[50%] border-[#FF852A] cursor-pointer;
}

.line {
    @apply w-1 h-[200px] border-r-[1px] border-solid border-[#FF852A];

}










.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}